<mat-toolbar color="primary" class="navbar">
  <!-- Toggle Button -->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Micrologs</span>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list class="sidenav-list">
      @for (item of options; track item.name){
        <a mat-list-item [routerLink]="item.routerLink" (click)="sidenav.toggle()">{{item.name}}</a>
      }

      <div class="spacer"></div>

      <button mat-list-item (click)="logout()" style="display: flex; align-items: center; gap: 8px; padding: 0; border-radius: 0px">
        <span style="line-height: 1; font-size: 16px;">Logout</span>
        <mat-icon style="line-height: 1; font-size: 20px; vertical-align: middle;">logout</mat-icon>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
