<h2 class="header-title" [class.primary-text]="theme === 'primary'" [class.white-text]="theme === 'white'">
  Raw Logs
</h2>
<div class="container">
  <!-- Clear Filters Section -->
  <button mat-raised-button [color]="theme === 'primary' ? 'warn' : 'accent'" (click)="clearFilters()" class="clear-filters-btn">
    <mat-icon>clear</mat-icon>
    Clear Filters
  </button>

  <!-- Table Section -->
  <mat-card class="table-card">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="logs-table">

        <!-- Dynamic Columns -->
        @for ( column of  displayedColumns; track column) {
          <ng-container [matColumnDef]="column">
            <!-- Header Cell -->
            <th mat-header-cell *matHeaderCellDef [style.width.px]="columnWidths[column]" class="table-header-cell">
              <div class="header-wrapper">
                <mat-form-field class="filter-input" fxFill>
                  <input matInput [placeholder]="column | titlecase"
                         [(ngModel)]="columnFilters[column]"
                         (keyup)="applyFilters()"
                         [matAutocomplete]="auto" class="input-field" />
                  <mat-autocomplete #auto="matAutocomplete">
                    @for ( option of filterOptions[column]; track $index) {
                      <mat-option [value]="option" (click)="applyFilters()">
                        {{ option }}
                      </mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
                <!-- Resizable Handle -->
                <div mwlResizable
                     [enableGhostResize]="true"
                     [resizeSnapGrid]="{ right: true,left: true }"
                     (resize)="onResize($event, column)"
                     class="resize-handle">
                </div>
              </div>
            </th>

            <!-- Data Cell -->
            <td mat-cell *matCellDef="let row" [style.width.px]="columnWidths[column]" class="table-cell">
              @if (column === 'jsonData') {
                <button mat-icon-button (click)="openJsonDialog(row[column])">
                  <mat-icon>code</mat-icon>
                </button>
              } @else {
                <span>{{ formatCellValue(column, row[column]) }}</span>
              }
            </td>
          </ng-container>
        }

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <!-- No Data Row -->
        @if (dataSource.data.length === 0) {
          <tr>
            <td [attr.colspan]="displayedColumns.length" class="no-data-cell">
              No data matches the filter criteria
            </td>
          </tr>
        }
      </table>
    </div>
  </mat-card>

  <!-- Pagination -->
  <div class="pagination-container">
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" aria-label="Select page"></mat-paginator>
  </div>
</div>

